.league-row {
	background-color: #e1e1e1;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.5em;
}

.date-cell {
	text-align: center;
	font-weight: bold !important;
}

.bet-cell {
	text-align: center !important;
}

.game-row > * {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold !important;
	font-size: 1.2em !important;
}
